.dropdown {

    position: relative;
    display: inline-block;



    .boutonmenuprincipal {
        background-color: #e83737;
        color: white;
        border: none;
        cursor: pointer;
        padding: 20px;
        margin-top: 20px;
        font-size: 30px;


        &:hover{
            background-color: #ff4444;
        }

    }



    .dropdown-child {
        display: none;
        background-color: #f28c8c;
        min-width: 50px;

        a {


            color: white;
            padding: 20px;
            text-decoration: none;
            display: block;



        }

    

    }

    &:hover .dropdown-child {
        display: block;
    }


}